.question-container {
  min-height: 400px;
  font-size: 90%;
}

.question {
  display: none;
}

/* For not active sections display is set to none.
Another solution would be to position question sections absolute except for the first one 
which is positioned relative (which makes the width of relatively positioned container be equal 
to height of first section). 
Sections visibility is set to hidden, for the currently active section visibility is set to visible. 
On the elements with visibility:hidden events are not fired.
Another solution: set opacity of sections to 0 and opacity of currently active section to one. 
With this approach it is required to set z-index of the current section to a higher value than for other sections,
the current section needs to stay on very top because on elements with opacity 0 events are fired. */

.question.question-is-active {
  display: block;
}

.question .question-number {
  margin: 0.1em;
  color: #666666;
}

.question img {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 320px;
  margin: auto;
}

.question .hint {
  font-style: italic;
  margin: 0;
  padding: 0.1em;
  color: #666666;
}

.question ul {
  list-style-type: none;
  margin: 0;
  padding-inline-start: 0;
  padding: 1em 0;
}

.question span.answer {
  display: inline-block;
  padding: 6px;
  cursor: pointer;
}

.question span.answer:hover {
  background-color: gray;
}

.question span.answer.right {
  background-color: yellow;
}

.question span.answer.wrong {
  background-color: red;
}

.question .description {
  margin: 0;
  padding: 12px;
  border: 1px solid gray;
}

.question .description p.description__title {
  font-weight: bold;
  line-height: 1.2;
  margin: 0 0 1em;
}

.question .description p {
  margin: 0;
}

.question .description.not-active {
  display: none;
}

.question .result-button {
  width: 9em;
  margin: auto;
  padding: 12px;
  background-color: gray;
  color: white;
  text-align: center;
  cursor: pointer;
}

.question .result {
  text-align: center;
}

@media only screen and (min-width: 700px) {
  .question img {
    max-height: 430px;
  }
}
