.question-container {
  position: relative; 
}

.question {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
}

.question.position-relative {
  position: relative;
}

.question.question-is-active {
  opacity: 1;
}

.question .question-number {
  margin: 0;
}

.question img {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
  margin: auto;
}

.question .hint {
  font-style: italic;
}

.question ul {
  list-style-type: none;
  padding-inline-start: 0;
  padding: 0;
}

.question li {
  padding: 0 0.6em 0.6em 0;
}

.question span.answer {
  cursor: pointer;
  padding: 0.4em 0.6em 0.4em 0.6em;
}

.question .answer:hover {
  background-color: gray;
}

.question .answer.right {
  background-color: yellow;
}

.question .answer.wrong {
  background-color: red;
}

.question .description.not-active {
  display: none;
}
