body {
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
}

/* box-sizing property is not inherited */
* {
  box-sizing: border-box; 
}

header {
  background-color: rgba( 0, 0, 0, .3 );
  max-width: 1024px;
  margin: auto;
}

header p {
  margin: 0;
  padding: 1em;
}

.main {
  max-width: 1024px;
  margin: auto;
  border: 1px solid #f7f7f7;
}

.main h1 {
  font-size: 0%;
  text-align: center;
}

.quiz-container {
  margin: 0 3%;
}

.quiz-container .navigation {
  display: flex;
  padding-bottom: 20px;
}

.quiz-container .navigation .prev, .quiz-container .navigation .next {
  padding: 6px 12px;
  border: 1px solid gray;
  width: 130px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}

.quiz-container .navigation .next {
  margin-left: auto;
}

.quiz-container .navigation .prev:hover, .quiz-container .navigation .next:hover {
  background-color: gray;
  color: white;
}

footer {
  background-color: rgba( 0, 0, 0, .3 );
  max-width: 1024px;
  margin: auto;
}

footer p {
  margin: 0;
  padding: 1em;
  font-size: 12px;
}

@media only screen and (min-width: 700px) {
  .main h1 {
    font-size: 120%;
  }
}
