body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.6;
}

/* box-sizing property is not inherited */
* {
  box-sizing: border-box; 
}

header {
  background-color: rgba( 0, 0, 0, .6 );
  max-width: 1024px;
  margin: auto;
  font-family: 'Charm', cursive;
}

header .header__title {
  margin: 0 0 0 3%;
  padding: 0.4em 0;
  color: white;
  text-shadow: 4px 4px 4px gray;
}

header .header__credits {
  display: none;
}

.main {
  max-width: 1024px;
  margin: auto;
  padding: 1em 0;
}

.main h1 {
  font-size: 100%;
  line-height: 1.2;
  text-align: center;
  color: #444444;
  margin: 0;
}

.quiz-container {
  margin: 0 3%;
}

.quiz-container .navigation {
  display: flex;
  padding: 12px 0;
}

.quiz-container .navigation .prev, .quiz-container .navigation .next {
  padding: 6px 12px;
  border: 1px solid gray;
  width: 130px;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
}

.quiz-container .navigation .next {
  margin-left: auto;
}

.quiz-container .navigation .prev:hover, .quiz-container .navigation .next:hover {
  background-color: gray;
  color: white;
}

footer {
  background-color: rgba( 0, 0, 0, .6 );
  max-width: 1024px;
  margin: auto;
}

footer p {
  margin: 0;
  padding: 1em;
  font-family: 'Charm', cursive;
  font-size: 12px;
  color: white;
}

@media only screen and (min-width: 700px) {
  header {
    display: flex;
  }

  header .header__title {
    font-size: 120%;
    padding: 0.7em 0;
  }

  header .header__credits {
    display: block;
    color: white;
    margin-left: auto;
    margin-right: 3%;
    font-size: 80%;
    align-self: center;
  }

  .main h1 {
    font-size: 115%;
  }

  .quiz-container .navigation.navigation-bottom {
    display: none;
  }

  footer {
    display: none;
  }
}
